body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff7800;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

select, input, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #ff7800;
    color: white;
    border: none;
}

button:hover {
    background-color: #ff7800;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgb(253, 253, 253);
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff7800;
    color: white;
}
.subsidy-btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #28a745; /* Green button */
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.subsidy-btn:hover {
    background-color: #218838; /* Darker green on hover */
}
